.books-list{
    display: flex;
    flex-wrap: wrap;
     justify-content: center; 
    gap: 20px;
    border-radius: 20px;
    margin: 20px;
    align-items: center;
}

.book{
width: 250px;
height: 600;
border-radius: 20px;
border: 1px solid rgb(7, 0, 4);
text-align: center;
background-color: rgb(55, 82, 144);
}
img{
    border-radius: 20px;    
}
h3, h4, h5{
    color: rgb(255, 255, 255);
}