.header{
    width: 100%;
    height: 70px;
    background-color: rgb(55, 82, 144);
    
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 24px;
    line-height: 70px;
    margin-left: 20px;
}